body{
  font-family: verdana;
}
h1{
  text-align:center;
}
article{
  border-color:black;
  border-style:solid;
  background-color: powderblue;
  padding: 30px;
  margin: 50px;
}
article p{
  line-height:1.5;
  text-indent:30px;
}
.myFace{
  height:25%;
  width:25%;
  float:right;
}
.navBar ul{
  list-style-type: none;
  padding : 0px;
  margin : 0px;
  /*position: fixed;*/
  background-color:grey;
  width: 400px;
}
.navBar li{
  display:inline;
  width: 60px;
}
.navBar li :hover{
  background-color : black;
  color: green;
}

.navBarVert ul{
  list-style-type: none;
  padding : 0px;
  margin : 0px;
  /*position: fixed;*/
  background-color:grey;
  width: 400px;
}

