body{
  font-family: verdana;
}
.myFace{
  height:25%;
  width:25%;
  float:right;
}
.navBar{
  list-style-type: none;
  padding : 0px;
  margin : 0px;
}
.navBar li{
  display : inline;
  background-color : grey;
}
.navBar li:hover{
  color: green;
}
  .navBar li a:hover{
  color: green;
}
.navBarVert{
  list-style-type: none;
  padding : 0px;
  margin : 0px;
}
.navBarVert li{
  display : block;
  background-color : grey;
}
.navBarVert li a:hover{
  color: green;
}
